#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #c7bdbd;
}
.text-center {
  margin-bottom: 20px;
}
.v-application .mt-16.container.container--fluid {
  margin-bottom: 80px !important;
}
@media (max-width: 420px) {
  .v-application .mt-16.container.container--fluid {
    margin-top: 120px !important ;
  }
}
